@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


/* General */

:root{
    --white: #ffffff;

    --black: #000000;
    --dark-gray: #222;
    --gray: #333;
    --middle-gray: #444;
    --light-gray: #555;

    --green-border: #00dd00;
    --green: #007200;
}

body{
    width: 100%;
    min-width: 400px;
    height: 100%;
    background-color: var(--dark-gray);
    color: var(--white);
    margin: 0px;
    padding: 16px;
    box-sizing: border-box;
    overflow: auto;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Popup elements */

.popup-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}

.saveButton{
    background-color: var(--green);
    color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--green-border);
    margin: 12px 0px;
    padding: 8px 12px;
    font-size: 14px;

    max-width: 200px;
}

.saveButton:hover{
    cursor: pointer;
}

.container{
    margin-top: 20px;
}

.description{
    font-size: 14px;
}

/* Pack elements */

.pack{
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    margin: 12px 0px;
}

.pack.currentPack{
    border: 3px solid var(--light-gray);
    margin-left: -2px;
}

/* Headers */

.packHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.headerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8px;
}

.headerButtons{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8px;

}

.packColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 12px;
}

.packName{
    background: none;
    border: none;
    color: var(--white);
    padding: 4px;
    font-size: 16px;
}

.packName:focus {
    outline: none;
    border-bottom: var(--white) solid 1px;
}


.packButton{
    background: none;
    border: none;
}

.packButton:hover{
    cursor: pointer;
}

.packButton.disabled{
    opacity: 0.5;
    cursor: default; 
}

.packIcon{
    width: 20px;
    height: 20px;
}

/* Links */

.links{
    font-size: 14px;
    list-style: circle;
    max-width: 350px;
}

.listItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    padding: 2px 0px;
}

.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.listLinkPoint{
    display: block;
    min-width: 4px;
    min-height: 4px;
    margin-right: 4px;
    background-color: var(--white);
    border-radius: 50%;
}

.listLink{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 8px;
    padding-left: 4px;
    white-space: nowrap;
}